# ---- REQUIRED for live/paper trading ----
ALPACA_API_KEY_ID=
ALPACA_API_SECRET_KEY=

# ---- Optional config ----
STRATEGY_NAME=StoichiometricStrategy
BACKTEST_DATA=aapl_mock.csv

REDIS_HOST=redis
REDIS_PORT=6379
EVENT_CHANNEL=otrep_events
HEARTBEAT_INTERVAL=5
